.NoMoviesFound {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.NoMoviesFound__text {
  font-size: 1.2em;
  font-weight: lighter;
  font-weight: 300;
  line-height: 2em;
}
